## **PREPROCESSING DATA FILM**

**MEMUAT DATA**

In [10]:
import pandas as pd
import numpy as np

# 1. Memuat Data (Load)
# ------------------------------------------------------------------------------
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/data_mining/movie_sample_dataset.csv'
df = pd.read_csv(file_path)
print(">>> Dataset berhasil dimuat dari Google Drive.\n")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
>>> Dataset berhasil dimuat dari Google Drive.

Proses ini diawali dengan mengimpor library yang esensial, yaitu Pandas untuk manipulasi data dan NumPy untuk komputasi numerik. Selanjutnya, skrip ini menghubungkan Google Colab ke Google Drive menggunakan drive.mount agar file di dalamnya dapat diakses. Setelah koneksi berhasil, lokasi spesifik dari file dataset disimpan dalam variabel file_path, yang kemudian digunakan oleh fungsi pd.read_csv dari Pandas untuk membaca data dari file CSV dan memuatnya ke dalam sebuah tabel data yang disebut DataFrame dengan nama df. Terakhir, sebuah pesan konfirmasi dicetak untuk menandakan bahwa seluruh proses pemuatan data telah berhasil diselesaikan.

**MEMERIKSA DATA**

In [11]:
# 2. Memeriksa Data (Inspect)
# ------------------------------------------------------------------------------
print("[Info Awal] 50 Baris Pertama:")
print(df.head(50))
print("\n[Info Awal] Informasi Umum Dataset:")
# replace "" menjadi NaN
df.replace("N/A", np.nan, inplace = True)
df.replace("Null", np.nan, inplace = True)
df.replace("Nan", np.nan, inplace = True)
df.info()
# cek banyaknya missing value pada masing-masing kolom
print(df.isnull().sum())

[Info Awal] 50 Baris Pertama:
               color         director_name  duration        gross  \
0              Color       Martin Scorsese       240  116866727.0
1              Color           Shane Black       195  408992272.0
2             color      Quentin Tarantino       187   54116191.0
3              Color      Kenneth Lonergan       186      46495.0
4              Color         Peter Jackson       186  258355354.0
5                NaN                   NaN       183  330249062.0
6              Color         Peter Jackson       -50  303001229.0
7              Color           Edward Hall       180          NaN
8              Color           Joss Whedon       173  623279547.0
9              Color           Joss Whedon       173  623279547.0
10               NaN            Tom Tykwer       172   27098580.0
11             Color                  Null       158  102515793.0
12             Color   Christopher Spencer       170   59696176.0
13             Color     Christopher Nolan       169  187991439.0
14             Color          F. Gary Gray       167  161029270.0
15               NaN     Richard Linklater       165   25359200.0
16             Color     Quentin Tarantino       580  162804648.0
17             Color           Michael Bay       165  245428137.0
18               NaN     Christopher Nolan       164  448130642.0
19             Color         Peter Jackson       164  255108370.0
20             Color            Tom Hooper       158  148775460.0
21             Color            Tom Hooper       158  148775460.0
22             Color       Kathryn Bigelow       157   95720716.0
23             Color          Ridley Scott       156  105219735.0
24             Color                   NaN       156  183635922.0
25             Color           Michael Bay       154  352358779.0
26             Color      Denis Villeneuve       153   60962878.0
27             Color     Gnana Rajasekaran       153          NaN
28             Color             Marc Webb       153  262030663.0
29             Color                   Nan       151  228430993.0
30             Color          Ridley Scott       150   65007045.0
31             Color          Ridley Scott       150   65007045.0
32             Color                   NaN       150  182204440.0
33             Color            Mike Leigh       150    3958500.0
34             Color        Gore Verbinski       650   89289910.0
35             Color         David Fincher       149  167735396.0
36             Color          Bryan Singer       149  233914986.0
37             Color             Jay Oliva       148          NaN
38             Color     Christopher Nolan       148  292568851.0
39             Color  Paul Thomas Anderson       148    8093318.0
40             Color            Sam Mendes       148  200074175.0
41             Color                   NaN       147  407197282.0
42             Color  Michael Patrick King       146   95328937.0
43             Color           Tate Taylor       146  169705587.0
44             Color      Francis Lawrence       146  424645577.0
45   Black and White      Steven Spielberg       146   79883359.0
46             Color           Michael Bay       144   52822418.0
47             Color       Guillaume Canet       144      41229.0
48             Color  Paul Thomas Anderson       144   16377274.0
49             Color          Bryan Singer       144  154985087.0

                                      genres  \
0               Biography|Comedy|Crime|Drama
1                    Action|Adventure|Sci-Fi
2       Crime|Drama|Mystery|Thriller|Western
3                                      Drama
4                          Adventure|Fantasy
5                    Action|Adventure|Sci-Fi
6                          Adventure|Fantasy
7                              Drama|Romance
8                    Action|Adventure|Sci-Fi
9                    Action|Adventure|Sci-Fi
10                              Drama|Sci-Fi
11              Crime|Drama|Mystery|Thriller
12                                       NaN
13                    Adventure|Drama|Sci-Fi
14       Biography|Crime|Drama|History|Music
15                                     Drama
16                             Drama|Western
17                   Action|Adventure|Sci-Fi
18                           Action|Thriller
19                         Adventure|Fantasy
20                     Drama|Musical|Romance
21                     Drama|Musical|Romance
22                    Drama|History|Thriller
23            Action|Adventure|Drama|History
24          Adventure|Drama|Thriller|Western
25                   Action|Adventure|Sci-Fi
26              Crime|Drama|Mystery|Thriller
27                   Biography|Drama|History
28                  Action|Adventure|Fantasy
29                    Adventure|Drama|Sci-Fi
30                    Action|Adventure|Drama
31                    Action|Adventure|Drama
32               Biography|Drama|History|War
33                   Biography|Drama|History
34                  Action|Adventure|Western
35              Crime|Drama|Mystery|Thriller
36  Action|Adventure|Fantasy|Sci-Fi|Thriller
37    Action|Animation|Crime|Sci-Fi|Thriller
38          Action|Adventure|Sci-Fi|Thriller
39        Comedy|Crime|Drama|Mystery|Romance
40                 Action|Adventure|Thriller
41                   Action|Adventure|Sci-Fi
42                      Comedy|Drama|Romance
43                                     Drama
44                 Adventure|Sci-Fi|Thriller
45                                 Drama|War
46                 Action|Drama|Thriller|War
47                      Crime|Drama|Thriller
48                                     Drama
49                   Action|Adventure|Sci-Fi

                                  movie_title  title_year language  \
0                     The Wolf of Wall Street        2013  English
1                                  Iron Man 3        2013  English
2                           The Hateful Eight        2015  English
3                                    Margaret        2011  English
4         The Hobbit: The Desolation of Smaug        2013  English
5          Batman v Superman: Dawn of Justice         202  English
6           The Hobbit: An Unexpected Journey        2012  English
7                                    Restless        2012  English
8                                The Avengers        2012  English
9                                The Avengers        2012  English
10                                Cloud Atlas        2012  English
11            The Girl with the Dragon Tattoo        2011  English
12                                 Son of God        2014  English
13                               Interstellar        2014  English
14                     Straight Outta Compton        2015  English
15                                    Boyhood        2014  English
16                           Django Unchained        2012  English
17            Transformers: Age of Extinction        2014  English
18                      The Dark Knight Rises        2012  English
19  The Hobbit: The Battle of the Five Armies        2014  English
20                             Les Misérables        2012  English
21                             Les Misérables        2012  English
22                           Zero Dark Thirty        2012  English
23                                 Robin Hood        2010  English
24                               The Revenant        2015  English
25             Transformers: Dark of the Moon        2011  English
26                                  Prisoners        2013  English
27                                  Ramanujan        2014  English
28                     The Amazing Spider-Man        2012  English
29                                The Martian        2015  English
30                     Exodus: Gods and Kings        2014  English
31                     Exodus: Gods and Kings        2014  English
32                                    Lincoln        2012  English
33                                 Mr. Turner        2014  English
34                            The Lone Ranger        2013  English
35                                  Gone Girl        2014  English
36                 X-Men: Days of Future Past        2014  English
37    Batman: The Dark Knight Returns, Part 2        2013  English
38                                  Inception        2010  English
39                              Inherent Vice        2014  English
40                                    Spectre        2015  English
41                 Captain America: Civil War        2016  English
42                         Sex and the City 2        2010  English
43                                   The Help        2011  English
44            The Hunger Games: Catching Fire        2013  English
45                                  War Horse        2011  English
46                                   13 Hours        2016  English
47                                 Blood Ties        2013  English
48                                 The Master        2012  English
49                          X-Men: Apocalypse        2016  English

          country       budget  imdb_score  \
0             USA  100000000.0         8.2
1             USA  200000000.0         7.2
2             USA   44000000.0         7.9
3             usa   14000000.0         6.5
4             USA  225000000.0         7.9
5             USA  250000000.0         6.9
6             USA  180000000.0         7.9
7              UK          NaN         7.2
8             USA  220000000.0         8.1
9             USA  220000000.0         8.1
10        Germany  102000000.0        -7.5
11            USA   90000000.0         7.8
12            USA   22000000.0         5.6
13            USA  165000000.0         8.6
14            USA   28000000.0         7.9
15            USA    4000000.0         8.0
16            USA  100000000.0         8.5
17            USA  210000000.0         5.7
18            USA  250000000.0         8.5
19    New Zealand  250000000.0         7.5
20            USA   61000000.0         7.6
21            USA   61000000.0         7.6
22            USA   40000000.0         7.4
23            USA  200000000.0         6.7
24            USA  135000000.0         8.1
25            USA  195000000.0         6.3
26            USA   46000000.0         8.1
27          India          NaN         7.0
28            USA  230000000.0         7.0
29            USA  108000000.0         8.1
30             UK  140000000.0         6.1
31             UK  140000000.0         6.1
32            USA   65000000.0         7.4
33             UK          NaN         6.8
34            USA  215000000.0         6.5
35            USA   61000000.0         8.1
36  United States  200000000.0         8.0
37            USA    3500000.0         8.4
38            USA  160000000.0         8.8
39            USA   20000000.0         6.7
40             UK  245000000.0         6.8
41            USA  250000000.0         8.2
42            USA  100000000.0         4.3
43            USA   25000000.0         8.1
44            USA  130000000.0         7.6
45            usa   66000000.0         7.2
46            USA   50000000.0         7.4
47         France   25500000.0         6.5
48            USA   32000000.0         7.1
49            USA  178000000.0         7.3

                                               actors  movie_facebook_likes
0   Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1           Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2           Craig Stark,Jennifer Jason Leigh,Zoë Bell                114000
3         Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4               Aidan Turner,Adam Brown,James Nesbitt                 83000
5            Henry Cavill,Lauren Cohan,Alan D. Purwin                197000
6               Aidan Turner,Adam Brown,James Nesbitt                166000
7       Rufus Sewell,Hayley Atwell,Charlotte Rampling                   434
8   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
9   Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...                123000
10               Tom Hanks,Jim Sturgess,Jim Broadbent                124000
11        Robin Wright,Goran Visnjic,Joely Richardson                 54000
12           Roma Downey,Amber Rose Revah,Darwin Shaw                 15000
13    Matthew McConaughey,Anne Hathaway,Mackenzie Foy                349000
14        Aldis Hodge,Neil Brown Jr.,R. Marcos Taylor                 76000
15     Ellar Coltrane,Lorelei Linklater,Libby Villari                 92000
16     Leonardo DiCaprio,Christoph Waltz,Ato Essandoh                199000
17            Bingbing Li,Sophia Myles,Kelsey Grammer                 56000
18      Tom Hardy,Christian Bale,Joseph Gordon-Levitt                164000
19              Aidan Turner,Adam Brown,James Nesbitt                 65000
20          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
21          Hugh Jackman,Eddie Redmayne,Anne Hathaway                144000
22      Jennifer Ehle,Harold Perrineau,Parker Sawyers                 39000
23                Mark Addy,William Hurt,Scott Grimes                 17000
24             Leonardo DiCaprio,Tom Hardy,Lukas Haas                190000
25          Glenn Morshower,Lester Speight,Kevin Dunn                 46000
26        Hugh Jackman,Jake Gyllenhaal,Dylan Minnette                 86000
27         Mani Bharathi,Michael Lieber,Kevin McGowan                    58
28             Emma Stone,Andrew Garfield,Chris Zylka                 56000
29             Matt Damon,Donald Glover,Benedict Wong                153000
30       Christian Bale,María Valverde,Ben Mendelsohn                 51000
31       Christian Bale,María Valverde,Ben Mendelsohn                 51000
32     Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill                 71000
33            Lesley Manville,Ruth Sheen,Karl Johnson                     0
34              Johnny Depp,Ruth Wilson,Tom Wilkinson                 48000
35          Patrick Fugit,Sela Ward,Emily Ratajkowski                146000
36      Jennifer Lawrence,Peter Dinklage,Hugh Jackman                 82000
37           Michael Emerson,Mark Valley,Grey Griffin                  5000
38   Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt                175000
39  Martin Dew,Katherine Waterston,Serena Scott Th...                 18000
40      Christoph Waltz,Rory Kinnear,Stephanie Sigman                 85000
41   Robert Downey Jr.,Scarlett Johansson,Chris Evans                 72000
42             Chris Noth,Liza Minnelli,Kristin Davis                     0
43          Emma Stone,Bryce Dallas Howard,Mike Vogel                 75000
44  Jennifer Lawrence,Josh Hutcherson,Sandra Ellis...                 82000
45    Jeremy Irvine,Benedict Cumberbatch,Eddie Marsan                 28000
46     Toby Stephens,James Badge Dale,David Costabile                 44000
47                Mila Kunis,Lili Taylor,Billy Crudup                     0
48     Mike Howard,Jeffrey W. Jenkins,Bruce Goodchild                 27000
49  Jennifer Lawrence,Michael Fassbender,Tye Sheridan                 54000

[Info Awal] Informasi Umum Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         86 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB
color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

Pada tahap ini, proses dimulai dengan inspeksi data secara visual dengan menampilkan 50 baris pertama menggunakan df.head(50) untuk mendapatkan gambaran umum. Sebelum melakukan pengecekan data kosong, dilakukan langkah pembersihan awal di mana berbagai representasi teks dari nilai kosong seperti "N/A", "Null", dan "Nan" diseragamkan menjadi format standar np.nan agar dapat dideteksi oleh Pandas. Setelah itu, df.info() digunakan untuk melihat ringkasan teknis dari setiap kolom, termasuk tipe data dan jumlah nilai non-null. Terakhir, df.isnull().sum() dijalankan untuk menghitung dan menampilkan jumlah total nilai kosong (missing value) yang sebenarnya ada di setiap kolom setelah proses standarisasi.

Berikut info yang diperoleh dari info awal.
Dalam dataset ini terdapat 13 kolom, yaitu color, director_name, duration, gross, genres, movie_title, title_year, language, country, budget, imdb_score, actors, dan movie_facebook_likes. Setiap kolom dapat diketahui tipe datanya, seperti kolom gross menggunakan tipe data float64. Selain itu, dapat diperoleh juga banyaknya baris dalam dataset tersebut adalah 100. Info lainnya yang diperoleh adalah banyaknya missing value yang ada di setiap kolomnya.

**PEMBERSIHAN DATA**

In [12]:
# 3. Membersihkan Data (Prinsip: Handle Missing Values & Inconsistencies)
# -----------------------------------------------------------------------------

print("\n\n--- Langkah 3: Membersihkan Data ---\n")

# Menghapus baris yang memiliki nilai NaN di kolom 'gross' atau 'budget'
df.dropna(subset=['gross', 'budget'], inplace=True)
print("[Pembersihan] Baris dengan nilai 'gross' atau 'budget' yang kosong telah dihapus.")

# Mengisi nilai kosong di kolom 'color' dengan nilai yang paling sering muncul (modus)
color_mode = df['color'].mode()[0]
df['color'].fillna(color_mode, inplace=True)
print(f"[Pembersihan] Nilai kosong di kolom 'color' telah diisi dengan modus ('{color_mode}').")

# Mengisi nilai kosong di 'genres' dengan 'unknown'
df['genres'].fillna('unknown', inplace=True)
print("[Pembersihan] Nilai 'genres' yang kosong telah diisi dengan 'unknown'.")

# Mengisi nilai kosong di 'director_name' dengan 'nameless'
df['director_name'].fillna('nameless', inplace=True)
print("[Pembersihan] Nilai 'director_name' yang kosong telah diisi dengan 'nameless'.")

# Memperbaiki kesalahan input
corrections = {205: 2015, 202: 2012} # Dictionary untuk koreksi
df['title_year'] = df['title_year'].replace(corrections)
print(f"[Pembersihan] Kesalahan input tahun {list(corrections.keys())} telah diperbaiki.")
df['country'] = df['country'].replace('United States', 'USA')
print("[Pembersihan] Telah mengubah 'United States' menjadi 'USA'.")

# Standarisasi penulisan di kolom 'country' dan 'color' menjadi huruf kecil (prinsip: atasi inkonsistensi)
df['country'] = df['country'].str.strip().str.lower()
df['color'] = df['color'].str.strip().str.lower()
print("[Pembersihan] Kolom 'country' telah distandarisasi.")
print("[Pembersihan] Kolom 'color' telah distandarisasi (menjadi huruf kecil dan tanpa spasi).")

# Penanganan nilai tidak valid/tidak logis (termasuk nilai negatif)
initial_rows = len(df)
df = df[df['gross'] >= 0]
df = df[df['budget'] >= 0]
df = df[df['duration'] >= 60] # Durasi harus lebih dari 0
df = df[(df['imdb_score'] >= 1) & (df['imdb_score'] <= 10)]# Memastikan imdb_score berada di rentang valid (1-10)
print(f"[Pembersihan] {initial_rows - len(df)} baris dengan nilai tidak valid (negatif atau di luar rentang) telah dihapus.")

# Mengecek dan menampilkan baris duplikat sebelum dihapus
print("\n[Pengecekan Duplikat] Mengecek baris duplikat...")
duplicate_rows = df[df.duplicated(keep=False)]

if not duplicate_rows.empty:
    print(f"Ditemukan {len(duplicate_rows)} baris yang terlibat dalam duplikasi:")
    print(duplicate_rows)
else:
    print("Tidak ditemukan baris duplikat.")

# Menghapus baris duplikat
initial_rows = len(df)
df.drop_duplicates(inplace=True)
print(f"[Pembersihan] {initial_rows - len(df)} baris duplikat telah dihapus.")

--- Langkah 3: Membersihkan Data ---

[Pembersihan] Baris dengan nilai 'gross' atau 'budget' yang kosong telah dihapus.
[Pembersihan] Nilai kosong di kolom 'color' telah diisi dengan modus ('Color').
[Pembersihan] Nilai 'genres' yang kosong telah diisi dengan 'unknown'.
[Pembersihan] Nilai 'director_name' yang kosong telah diisi dengan 'nameless'.
[Pembersihan] Kesalahan input tahun [205, 202] telah diperbaiki.
[Pembersihan] Telah mengubah 'United States' menjadi 'USA'.
[Pembersihan] Kolom 'country' telah distandarisasi.
[Pembersihan] Kolom 'color' telah distandarisasi (menjadi huruf kecil dan tanpa spasi).
[Pembersihan] 4 baris dengan nilai tidak valid (negatif atau di luar rentang) telah dihapus.

[Pengecekan Duplikat] Mengecek baris duplikat...
Ditemukan 10 baris yang terlibat dalam duplikasi:
    color director_name  duration        gross                     genres  \
8   color   Joss Whedon       173  623279547.0    Action|Adventure|Sci-Fi
9   color   Joss Whedon       173  623279547.0    Action|Adventure|Sci-Fi
20  color    Tom Hooper       158  148775460.0      Drama|Musical|Romance
21  color    Tom Hooper       158  148775460.0      Drama|Musical|Romance
30  color  Ridley Scott       150   65007045.0     Action|Adventure|Drama
31  color  Ridley Scott       150   65007045.0     Action|Adventure|Drama
52  color    Sam Mendes       143  304360277.0  Action|Adventure|Thriller
53  color    Sam Mendes       143  304360277.0  Action|Adventure|Thriller
54  color  Baz Luhrmann       143  144812796.0              Drama|Romance
55  color  Baz Luhrmann       143  144812796.0              Drama|Romance

               movie_title  title_year language    country       budget  \
8             The Avengers        2012  English        usa  220000000.0
9             The Avengers        2012  English        usa  220000000.0
20          Les Misérables        2012  English        usa   61000000.0
21          Les Misérables        2012  English        usa   61000000.0
30  Exodus: Gods and Kings        2014  English         uk  140000000.0
31  Exodus: Gods and Kings        2014  English         uk  140000000.0
52                 Skyfall        2012  English         uk  200000000.0
53                 Skyfall        2012  English         uk  200000000.0
54        The Great Gatsby        2013  English  australia  105000000.0
55        The Great Gatsby        2013  English  australia  105000000.0

    imdb_score                                             actors  \
8          8.1  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...
9          8.1  Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...
20         7.6          Hugh Jackman,Eddie Redmayne,Anne Hathaway
21         7.6          Hugh Jackman,Eddie Redmayne,Anne Hathaway
30         6.1       Christian Bale,María Valverde,Ben Mendelsohn
31         6.1       Christian Bale,María Valverde,Ben Mendelsohn
52         7.8           Albert Finney,Helen McCrory,Rory Kinnear
53         7.8           Albert Finney,Helen McCrory,Rory Kinnear
54         7.3   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley
55         7.3   Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley

    movie_facebook_likes
8                 123000
9                 123000
20                144000
21                144000
30                 51000
31                 51000
52                 80000
53                 80000
54                115000
55                115000
[Pembersihan] 5 baris duplikat telah dihapus.

/tmp/ipython-input-3961180642.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['color'].fillna(color_mode, inplace=True)
/tmp/ipython-input-3961180642.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genres'].fillna('unknown', inplace=True)
/tmp/ipython-input-3961180642.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director_name'].fillna('nameless', inplace=True)

Tahap pembersihan data ini dimulai dengan menangani nilai yang hilang (missing values) melalui dua strategi: menghapus baris jika kolom vital seperti gross atau budget kosong, dan mengisi (imputation) nilai kosong pada kolom kategorikal seperti color, genres, dan director_name dengan nilai pengganti yang logis (modus atau unknown). Selanjutnya, dilakukan koreksi data untuk memperbaiki kesalahan input spesifik seperti tahun rilis dan menyeragamkan format penulisan pada kolom country dan color menjadi huruf kecil untuk konsistensi. Proses dilanjutkan dengan validasi data, di mana baris dengan nilai yang tidak masuk akal (seperti gross negatif atau imdb_score di luar skala 1-10) akan difilter dan dihapus. Terakhir, skrip melakukan pengecekan duplikasi dengan menampilkan baris-baris yang identik sebelum akhirnya menghapus duplikat tersebut untuk memastikan setiap entri dalam dataset bersifat unik.

Dari pengecekan data duplikat, terdapat 10 baris yang terlibat dalam duplikasi.

**TRANSFORMASI DATA**

In [13]:
# 4. Transformasi Data (Prinsip: Correct Data Types & Dummy Variables)
# -----------------------------------------------------------------------------

print("\n\n--- Langkah 4: Transformasi Data ---\n")

# Ubah tipe data kolom (Prinsip: Correct Data Types)
df['gross'] = df['gross'].astype(int)
df['budget'] = df['budget'].astype(int)
print("[Transformasi] Tipe data 'gross' dan 'budget' berhasil diubah menjadi integer.")

# Normalisasi umum untuk semua kolom teks lainnya
text_columns = ['director_name', 'movie_title', 'language', 'actors', 'genres']
for col in text_columns:
    df[col] = df[col].str.strip().str.lower()

print("[Normalisasi] Kolom teks lainnya ('director_name', 'movie_title', 'language', 'actors', 'genres') telah dinormalisasi (huruf kecil).")

# Membuat variabel dummy untuk 'genres' (Prinsip: Dummy Variables)
genre_dummies = df['genres'].str.get_dummies(sep='|')
df = pd.concat([df, genre_dummies], axis=1)

# Menghapus kolom asli setelah diubah menjadi dummy
df.drop('genres', axis=1, inplace=True)
print(f"[Transformasi] Kolom 'genres' dipecah menjadi {len(genre_dummies.columns)} kolom dummy.")

--- Langkah 4: Transformasi Data ---

[Transformasi] Tipe data 'gross' dan 'budget' berhasil diubah menjadi integer.
[Normalisasi] Kolom teks lainnya ('director_name', 'movie_title', 'language', 'actors', 'genres') telah dinormalisasi (huruf kecil).
[Transformasi] Kolom 'genres' dipecah menjadi 18 kolom dummy.

Pada tahap transformasi data ini, proses diawali dengan memperbaiki tipe data dengan mengubah kolom gross dan budget menjadi format integer agar sesuai dengan sifatnya sebagai bilangan bulat. Setelah itu, dilakukan normalisasi teks di mana beberapa kolom tekstual seperti director_name dan movie_title diseragamkan dengan diubah menjadi huruf kecil dan dibersihkan dari spasi berlebih untuk memastikan konsistensi. Puncak dari langkah ini adalah transformasi kolom genres menjadi variabel dummy; setiap genre unik yang dipisahkan oleh tanda | dipecah menjadi kolomnya sendiri yang berisi nilai biner (0 atau 1), dan setelah itu, kolom genres yang asli dihapus karena informasinya telah berhasil direpresentasikan dalam format baru yang siap untuk analisis.

**VERIFIKASI DATA DAN MENYIMPAN DATA**

In [14]:
# 5. Verifikasi dan Penyimpanan (Prinsip: Final Check & Save)
# -----------------------------------------------------------------------------

print("\n\n--- Verifikasi Akhir dan Penyimpanan ---\n")

print("[Hasil Akhir] 5 Baris Pertama Data yang Sudah Diproses:")
# Menampilkan beberapa kolom untuk menunjukkan perubahan, termasuk kolom genre baru
display_columns = ['movie_title', 'gross', 'budget', 'color'] + list(genre_dummies.columns[:3])
print(df[display_columns].head())

print("\n[Hasil Akhir] Informasi Dataset Final:")
df.info()

#Memeriksa keberadaan cell yang kosong
# cek banyaknya missing value pada masing-masing kolom
print(df.isnull().sum())

# Menyimpan file hasil ke Google Drive
output_path = '/content/drive/MyDrive/data_mining/movie_dataset_cleaned.csv'
df.to_csv(output_path, index=False)

print(f"\n>>> Proses Selesai! Data bersih telah disimpan di Google Drive sebagai '{output_path}' <<<")

--- Verifikasi Akhir dan Penyimpanan ---

[Hasil Akhir] 5 Baris Pertama Data yang Sudah Diproses:
                           movie_title      gross     budget  color  action  \
0              the wolf of wall street  116866727  100000000  color       0
1                           iron man 3  408992272  200000000  color       1
2                    the hateful eight   54116191   44000000  color       0
3                             margaret      46495   14000000  color       0
4  the hobbit: the desolation of smaug  258355354  225000000  color       0

   adventure  biography
0          0          1
1          1          0
2          0          0
3          0          0
4          1          0

[Hasil Akhir] Informasi Dataset Final:
<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 0 to 97
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 80 non-null     object
 1   director_name         80 non-null     object
 2   duration              80 non-null     int64
 3   gross                 80 non-null     int64
 4   movie_title           80 non-null     object
 5   title_year            80 non-null     int64
 6   language              80 non-null     object
 7   country               80 non-null     object
 8   budget                80 non-null     int64
 9   imdb_score            80 non-null     float64
 10  actors                80 non-null     object
 11  movie_facebook_likes  80 non-null     int64
 12  action                80 non-null     int64
 13  adventure             80 non-null     int64
 14  biography             80 non-null     int64
 15  comedy                80 non-null     int64
 16  crime                 80 non-null     int64
 17  drama                 80 non-null     int64
 18  fantasy               80 non-null     int64
 19  history               80 non-null     int64
 20  music                 80 non-null     int64
 21  musical               80 non-null     int64
 22  mystery               80 non-null     int64
 23  romance               80 non-null     int64
 24  sci-fi                80 non-null     int64
 25  sport                 80 non-null     int64
 26  thriller              80 non-null     int64
 27  unknown               80 non-null     int64
 28  war                   80 non-null     int64
 29  western               80 non-null     int64
dtypes: float64(1), int64(23), object(6)
memory usage: 19.4+ KB
color                   0
director_name           0
duration                0
gross                   0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
action                  0
adventure               0
biography               0
comedy                  0
crime                   0
drama                   0
fantasy                 0
history                 0
music                   0
musical                 0
mystery                 0
romance                 0
sci-fi                  0
sport                   0
thriller                0
unknown                 0
war                     0
western                 0
dtype: int64

>>> Proses Selesai! Data bersih telah disimpan di Google Drive sebagai '/content/drive/MyDrive/data_mining/movie_dataset_cleaned.csv' <<<

Pada tahap akhir ini, dilakukan verifikasi dengan menampilkan lima baris pertama dari beberapa kolom kunci beserta kolom dummy genre yang baru dibuat untuk validasi visual. Selanjutnya, df.info() dan df.isnull().sum() dijalankan untuk memeriksa ringkasan teknis dan memastikan tidak ada lagi nilai kosong yang tersisa di seluruh dataset. Setelah semua pengecekan selesai, proses diakhiri dengan penyimpanan, di mana DataFrame yang sudah bersih dan final diekspor menjadi sebuah file CSV baru bernama movie_dataset_cleaned.csv ke lokasi yang telah ditentukan di Google Drive menggunakan df.to_csv(), dengan index=False untuk mencegah penulisan nomor indeks baris ke dalam file.